<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Sign Up Page</h3>
    <form action="{% url 'store:signup' %}" method="post">
        {% csrf_token %}
        <label for="">name</label>
        <input type="text" name="name">
        <label for="">phone</label>
        <input type="text" name="phone">
        <label for="">email</label>
        <input type="email" name="email">
        <label for="">password</label>
        <input type="password" name="password">
        <button type="submit">signup</button>
    </form>
</body>
</html>